In [1]:
cd Desktop/Intro\ To\ Python

/Users/sagarsahoo/Desktop/Intro To Python

In [2]:
cd python-for-ds-course-spring-2020/data/

/Users/sagarsahoo/Desktop/Intro To Python/python-for-ds-course-spring-2020/data

In [3]:
import pandas as pd

planes = pd.read_csv('planes.csv')
flights = pd.read_csv('flights.csv')

In [10]:
planes.dtypes

tailnum          object
year            float64
type             object
manufacturer     object
model            object
engines           int64
seats             int64
speed           float64
engine           object
dtype: object

In [11]:
flights.dtypes

year                int64
month               int64
day                 int64
dep_time          float64
sched_dep_time      int64
dep_delay         float64
arr_time          float64
sched_arr_time      int64
arr_delay         float64
carrier            object
flight              int64
tailnum            object
origin             object
dest               object
air_time          float64
distance            int64
hour                int64
minute              int64
time_hour          object
dtype: object

In [4]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [5]:
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00

In [13]:
flights["tailnum"] = flights["tailnum"].astype(str)
planes["tailnum"] = planes["tailnum"].astype(str)

In [21]:
joined_data = flights.merge(planes, how= 'inner',on='tailnum')

In [23]:
joined_data.shape

(284170, 27)

In [25]:
planes.shape

(3322, 9)

In [26]:
flights.shape

(336776, 19)

In [27]:
left_joined_data = flights.merge(planes, how= 'left',on='tailnum')

In [28]:
left_joined_data.shape

(336776, 27)

In [31]:
100*joined_data[joined_data['manufacturer']=='BOEING'].shape[0]/joined_data.shape[0]

29.17690115071964