In [1]:
cd Desktop/Intro\ To\ Python/

/Users/sagarsahoo/Desktop/Intro To Python

In [2]:
cd python-for-ds-course-spring-2020/data/

/Users/sagarsahoo/Desktop/Intro To Python/python-for-ds-course-spring-2020/data

In [3]:
import pandas as pd

1. Download the dataset at https://raw.githubusercontent.com/uc-python/intro-pythondatasci/
master/data/planes.csv and load it into Python as a DataFrame. Store it in a
variable called df.

In [4]:
df = pd.read_csv('planes.csv')

2. Print the first few rows of the DataFrame using the .head() method of df.

In [5]:
df.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

3. Take a look at a few attributes of df: .shape, .index and .columns. Do the contents of
these attributes give you any information about the DataFrame?

In [6]:
df.shape

(3322, 9)

In [7]:
df.columns

Index(['tailnum', 'year', 'type', 'manufacturer', 'model', 'engines', 'seats',
       'speed', 'engine'],
      dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=3322, step=1)

4. Check the data types of the columns of df. Hint: We did this during lecture in one of the
early slides.

In [10]:
df.dtypes

tailnum          object
year            float64
type             object
manufacturer     object
model            object
engines           int64
seats             int64
speed           float64
engine           object
dtype: object

5. Select just the year column using df['year']. Store the result in a variable called
year. Print it out.

In [12]:
year = df['year']

6. What is the type of year?

In [13]:
type(year)

pandas.core.series.Series

7. Select both the manufacturer and model columns and store the result in a variable
called plane_types. Print it out.

In [14]:
plane_types = df[['manufacturer','model']]

8. What is the type of plane_types? Why is this different from #6?

In [15]:
type(plane_types)

pandas.core.frame.DataFrame

9. Slice the row at index 105. What year was this plane made?

In [24]:
plane_types.iloc[105]

manufacturer      EMBRAER
model           EMB-145XR
Name: 105, dtype: object

10. Filter down the dataset to only planes made by Boeing. How many rows are left? Hint:
Use .shape to get a row count.

11. In the filtered data from #10, what do you notice about the indexes? Call the
.reset_index() method on this data and see what changes.

In [33]:
df[df['manufacturer']=='BOEING'].reset_index().shape

(1630, 10)

12. How many planes in the data have fewer than 40 seats?

In [35]:
df[df['seats']<=40].shape[0]

122

13. What is the minimum number of seats of any plane in the data? Hint: This is a good time
to use summary functions.

In [53]:
df['seats'].min()

2

14. What is the minimum number of seats in any plane made by Boeing?

In [52]:
df[df['manufacturer']=='BOEING']['seats'].min()

100

15. Create a new column in df called seats_per_engine. It is defined as number of seats
divided by number of engines.

In [49]:
df['seats_per_engine']= df['seats'] / df ['engines']

16. What is the average (mean) number of seats per engine in the data?

In [51]:
df['seats_per_engine'].mean()

77.06499598635361

17. Create a subset of the data, containing only planes manufactured by Cessna. Select all
the columns except manufacturer (since we know they're all Cessna). Export the data as
a CSV called "cessna_planes.csv".

In [55]:
cessna_planes = df[df['manufacturer']=='CESSNA'][['tailnum', 'year', 'type', 'model',
                                                 'engines', 'seats','speed', 'engine']]

In [56]:
cessna_planes.to_csv()

',tailnum,year,type,model,engines,seats,speed,engine\n424,N201AA,1959.0,Fixed wing single engine,150,1,2,90.0,Reciprocating\n427,N202AA,1980.0,Fixed wing multi engine,421C,2,8,90.0,Reciprocating\n893,N364AA,1973.0,Fixed wing multi engine,310Q,2,6,167.0,Reciprocating\n1027,N378AA,1963.0,Fixed wing single engine,172E,1,4,105.0,Reciprocating\n1476,N519AA,1979.0,Fixed wing multi engine,550,2,8,,Turbo-fan\n1480,N519MQ,1983.0,Fixed wing single engine,A185F,1,6,127.0,Reciprocating\n1725,N575AA,1963.0,Fixed wing single engine,210-5(205),1,6,,Reciprocating\n1883,N621AA,1975.0,Fixed wing single engine,172M,1,4,108.0,4 Cycle\n2309,N737MQ,1977.0,Fixed wing single engine,172N,1,4,105.0,Reciprocating\n'