In [2]:
cd Desktop/Intro\ To\ Python/

/Users/sagarsahoo/Desktop/Intro To Python

In [3]:
cd python-for-ds-course-spring-2020/data/

/Users/sagarsahoo/Desktop/Intro To Python/python-for-ds-course-spring-2020/data

In [4]:
import pandas as pd

In [6]:
planes = pd.read_csv('planes.csv')

In [7]:
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [10]:
try:
    age = int(input())

    if age < 13: 
        print('You are a child')

    if age >= 13 and age <= 19: 
        print('You are a teenager')

    if age >= 20: 
        print('You are old')

except:
    print("Unexpected error")

15
You are a teenager

In [13]:
cnt = 0
for x in planes['engine']:
    if '-' in x:
        cnt=cnt+1
        
print('No of Records in engine column with "-" :', cnt)

No of Records in engine column with "-" : 3292

In [23]:
engines_cnt=0
for index, row in planes.iterrows():
    if row['manufacturer'] != 'BOEING':
        engines_cnt = engines_cnt + row['engines']
    else:
        break

print("Number of Engines: ",engines_cnt)

Number of Engines:  68

In [18]:
for x in range(100):
    if (x%3 == 0 and x%5 == 0):
        print('fizzbuzz')
    elif (x%5 == 0 and x%3 != 0):
        print('buzz')
    elif (x%5 != 0 and x%3 == 0):
        print('fizz')
    else:
        print(x)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

In [19]:
[x*2+1 for x in range(3)]

[1, 3, 5]

In [20]:
l = [4, 5, 2, 0, 2]
[x*3 for x in l]

[12, 15, 6, 0, 6]

In [22]:
[x.upper() for x in planes.columns]

['TAILNUM',
 'YEAR',
 'TYPE',
 'MANUFACTURER',
 'MODEL',
 'ENGINES',
 'SEATS',
 'SPEED',
 'ENGINE']